{% extends 'base.html.twig' %} {% block body %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/Home.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div><a href="*" class="logo">AZA-ANDREA</a></div>
      <div class="nav-links">
        <ul>
          <li class="active"><a href="$">A PROPOS DE MOI</a></li>
          <li><a href="$">COURS</a></li>
          <li><a href="$">CONTACT</a></li>
          <li><a href="$">CONNEXION</a></li>
        </ul>
      </div>
      <div class="menu">
        <img
          src="{{ asset('image/menu.png') }}"
          alt="menu-dance"
          class="menu-dance"
        />
      </div>
    </nav>
  </body>

  <script>
    const menudance = document.querySelector(".menu-dance");
    const navlinks = document.querySelector(".nav-links");

    menudance.addEventListener("click", () => {
      navlinks.classList.toggle("mobile-menu");
    });
  </script>
</html>

{% endblock %}
